<template>
    
<div class="add_people">
    <h5>Add people</h5>
    <form @submit="add_people" >
     <div class="input-field col s12">
          <input v-model="f_name" id="f_name" type="text" >
          <label for="F_name">First Name</label>
        </div>
        <div class="input-field col s12">
          <input v-model="l_name" id="l_name" type="text" >
          <label for="l_name">Last Name</label>
        </div>
    <div class="input-field col m12">
          <input v-model="email" id="email" type="email" >
          <label for="email">Email</label> 
        </div>
        <div class="input-field col s12">
          <input v-model="age" id="age" type="number" >
          <label for="age">Age</label> 
        </div>
        <div class="input-field col s12"> 
          <input v-model="s_field" id="s_field" type="text" >
          <label for="s_field">Secret Field</label> 
        </div>

         <button class="btn waves-effect waves-light" >Add</button>
    </form>
          
</div>

</template>
<script>
import { mapActions } from 'vuex';
import CryptoJS from 'crypto-js';

export default {
    name:'add_people',
    data(){
     return{
         f_name:'',
         l_name:'',
         age:'',
         email:'',
         s_field:'',  
     }
    },
    methods:{
        ...mapActions({
            add:'Async_add_people_list'
        }),
     add_people(e){ 
         e.preventDefault();
        
     
     var ciphertext = CryptoJS.AES.encrypt(this.s_field, 'secret key 123').toString();
    console.log(ciphertext)
         let people = { 
             first_name:this.f_name,
             last_name:this.l_name,
             email:this.email,
             age:this.age,
             secret:ciphertext, 
                      
           };
           console.log(this.s_field)
      this.add(people);
      
     }
    }
}
</script>    
<style>
.add_people{
    padding: 5%;  
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    
}
</style> 
