<template>   
    <div class="people-list  ">
          <h1>People</h1>
        <div class="people_item " v-for="(item,index) in people_list" :key="index">
                
     <ul class="collection with-header">
        <li class="collection-header"><h4>Email: {{ item.email }}</h4></li>
        <li class="collection-item">First Name: {{ item.first_name }}</li>
        <li class="collection-item">Last Name: {{ item.last_name }}</li>
        <li class="collection-item">Age: {{ item.age }}</li>
        <li class="collection-item">Secret: {{ item.secret }}</li>
        <li>
         <button v-if="index>1" class="btn center btn-small waves-effect waves-light" v-on:click="deleteItem(index)">Delete</button>
        </li>
      </ul>             
                  
    
              
    </div>      
    
    </div>
</template>

<script>
  
import { mapGetters, mapActions } from 'vuex'
export default {
    name: 'peopleList',
   
   data(){
    return {
         
    }
},
computed:{
...mapGetters({
    people_list:'get_people_list'
})

}, 
methods:{
    ...mapActions({
        delete:'Async_delete_people_list'
    }),
    deleteItem(index){  
    this.delete(index);
    }  
}

}   
</script>
<style>

.people-list{
   display: block;
    
}
.people_item{
    margin: 0.5%;
    padding: 1%;
    width: 100%; 
    
    
}

  
.collection{
    text-align: left;
 
}
.btn{
    margin: 1%;  
}
</style>
