<template>
  <div id="app">
    <div id="nav">
       <nav>
    <div class="nav-wrapper  grey darken-3">
      <a v-on:click="$router.push('/')" class="brand-logo left  ">People List</a> 
      <ul id="nav-mobile" class="right add-people">
        <li><a v-on:click="$router.push('/add_people')" >add people</a></li>
        
      </ul>   
    </div>
  </nav> 
        
    </div> 
    <div class="conatiner">   
  
 <router-view/>  
    </div>
    
  </div>
</template> 



<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow-x: hidden;
  overflow-y: auto;
  
}
#nav {
  padding: 0; 
  margin: 0;
}

nav .brand-logo{
  position: inherit;
  font-size: 2.1rem;
  padding: 0.25%;
  display: inline-block;
  color: #fff;
}

</style>   
